@import "tailwindcss";

:root {
  --cor-primaria: #93c5fd;
  --cor-primaria-escura: #60a5fa;
  --cor-secundaria: #c4b5fd;
  --cor-texto: #1e293b;
  --cor-texto-suave: #64748b;
  --cor-fundo: #f5f3ff;
}

body {
  background: linear-gradient(135deg, #e0f2fe 0%, #f5f3ff 100%);
  background-attachment: fixed;
  color: var(--cor-texto);
}
